<main class="container">
  <div class="loginContent">
    <div class="boxOne">
      <div class="headerOne">
        <h2>HAZE.</h2>
        <select>
          <option class="options" value="english">EN</option>
        </select>
      </div>

      <div class="contentBoxOne">
        <div class="titleOne">
          <h1>HI THERE!</h1>
          <p>Welcome to Haze. Community Dashboard</p>
        </div>

        <div class="contentForm">
          <form class="form">
            <input
              class="inputOne"
              type="text"
              placeholder="Login with google"
            />
            <p>or</p>
            <div class="inputTwo">
              <input type="email" placeholder="Your Email" />
              <input type="password" placeholder="Password" />
            </div>
            <p>Forgot password?</p>
            <button type="submit" class="btnLogIn">Log in</button>
          </form>
          <p>Don't have an account? <a href="#">Sign up</a></p>
        </div>
      </div>
    </div>

    <div class="boxTwo">
      <div class="contentBtn">
        <button>Sign up</button>
        <button>Join us</button>
      </div>
      <div class="contentBoxTwo">
        <div class="titleTwo">
          <p>Logo</p>
          <p>Largest Space Community</p>
        </div>
        <div class="section">
          <div class="sectionOne">
            <h1>,,</h1>
            <h3>Go anywhere you want in a galaxy full of wonders!</h3>
          </div>
          <div class="sectionTwo">
            <p>01----06</p>
            <button>voltar</button>
            <button>frente</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
